clumper==0.2.15
jina==3.27.2
langchain_core==0.2.25
llama_index==0.10.58
python-dotenv==1.0.1
rasa_sdk==3.9.0
SQLAlchemy==1.4.50
typer==0.12.3
llama-index-llms-ollama
llama-index-embeddings-huggingface